.file-upload-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.loader{
    text-align: center;
}

.loader > img{
    margin: auto;
    max-width: 75px;
    max-height: 75px;
}