.nav-style1{
    width: 100px;
    text-align: center;
}

.page_header{    
    color: whitesmoke;
    text-shadow: 0 0 3px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 0px #E60072, 0 0 0px #e60073, 0 0 10px #e60073, 0 0 0px #e60073;
}